#body {
  font-family: Arial;
  font-size: 12pt;
}

#docs table {
  border-spacing: 0;
}

#docs code {
  font-family: 'Fira Code', monospace;
  font-size: 11pt;
  background: #d0d0d0;
  padding: 4px 4px 3px 4px;
  border-radius: 3px;
}

#docs td code {
  padding: 0px 3px 0px 3px;
}

#docs h3 code {
  font-size: unset;
  padding: 3px 7px;
}

#docs td {
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #bababa;
}

#docs thead td {
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

#docs tbody td {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 3px;
}

#docs tbody td:last-child, tbody td:first-child {
  text-align: initial;
}

#docs tbody tr:nth-child(even) {
  background: #eee;
}

#docs tbody tr:nth-child(odd) {
  background: #f8f8f8;
}

#docs #data-types > table {
  margin-left: 7px;
}

#docs #endpoints > div {
  background: #fafafa;
  padding: 5px 15px;
  margin: 15px 5px;
  border: 1px solid #e8e8e8;
  border-radius: 7px;
  transition: background 0.2s;
}

#docs #endpoints > div:hover {
  background: #f0f0f0;
}

#docs #endpoints > div h3 {
  margin: 0;
  margin-top: 10px;
}

#docs #endpoints > div h4 {
  margin-bottom: -6px;
  margin-top: 35px;
}

#docs #endpoints > div h3 a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
  transition: color 0.2s;
}

#docs #endpoints > div h3 a:visited {
  color: blue;
}

#docs #endpoints > div h3 a:hover {
  color: cyan;
}

#docs #endpoints > div p {
  margin-top: 10px;
  font-size: 11pt;
}
